.buy-badge {
    background-color: #FBD103;
    position: absolute;
    padding: 0rem 0.7rem;
    border-radius: 50%;
    top: 0.3rem;
    color: #fff;
}

.main-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #004743;
    background-color: #FBD103;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

table {
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
}

/* table,
th,
td {
    border: 1px solid black;
} */

td {
    text-align: center;
    padding: 1rem;
}

.minus {
    padding: 0.3rem 0.5rem;
    background-color: #e70a0a;
    color: white;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.plus {
    padding: 0.3rem 0.5rem;
    background-color: #74ca4d;
    color: white;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.total-Clear {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cart__total-price {
    text-align: center;
    color: #FBD103;
    background-color: #004743;
    border-radius: 1rem;
    padding: 0.7rem;
    font-size: 1.5rem;

}

.btnClearAll {
    padding: 0.7rem;
    background-color: #e70a0a;
    color: white;
    border-style: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.product-wrapper {
    display: flex;
}

/* .cart__item {
    display: flex;
    flex-direction: column;
} */