.buy-badge {
    background-color: #FBD103;
    position: absolute;
    padding: 0rem 0.7rem;
    border-radius: 50%;
    top: 0.3rem;
    color: #fff;
}

.main-title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #004743;
    background-color: #FBD103;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

table {
    width: 100%;
    overflow: hidden;
}

/* table,
th,
td {
    border: 1px solid black;
} */



th {
    font-size: 1rem;
    font-weight: bolder;
    color: #0a1312;
    border-bottom: 0.1rem solid #004743;

}

td {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    color: #004743;
}

.minus {
    padding: 0.2rem 0.4rem;
    background-color: #e70a0a;
    color: white;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.plus {
    padding: 0.2rem 0.4rem;
    background-color: #74ca4d;
    color: white;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
}

.total-Clear {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cart__total-price {
    text-align: center;
    color: #FBD103;
    background-color: #004743;
    border-radius: 0.4rem;
    padding: 0.7rem;
    font-size: 1rem;

}

.btnClearAll {
    padding: 0.5rem;
    background-color: #e70a0a;
    color: white;
    border-style: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.product-wrapper {
    display: flex;
}

.close-icon {
    padding: 0.3rem 0.6rem;
    /* background-color: #cccccc; */
    /* border-style: none; */
    /* border-radius: 1rem; */
    cursor: pointer;
}

.inventory {
    font-weight: bolder;
    color: #004743;
}

.product-img {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.cart__back {
    text-align: center;
    color: #FBD103;
    border: 0.1rem solid #004743;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: bolder;
}

.cart__back>a {
    text-decoration: none;
    color: #004743;

}

.cart__back:hover {
    background-color: #004743;
    color: white;

}

a:active {
    color: white;
}

.qtyElem {
    width: 1.5rem;
    outline: none;
    border: none;

}

.cart__item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}