@font-face {
    font-family: Ubontu;
    src: url(../fonts/Ubuntu-Bold.ttf);
    src: url(../fonts/Ubuntu-Medium.ttf);
    src: url(../fonts/Ubuntu-Regular.ttf);
}



body {
    font-family: Ubontu;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f2faf7, #b1f3d0, #337253);
}

.main {
    width: 16rem;
    height: 25rem;
    overflow: hidden;
    /* background-color: #FBD103; */
    background: url(../images/bgLogin4.jpg) no-repeat center / cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem 0.5rem #6aa785;
}

#chkToggle {
    display: none;
}

.signup {
    width: 100%;
    height: 100%;
}

.signup-msg {
    color: #06a55b;
    font-size: 0.7rem;
    font-weight: bolder;
    display: block;
    margin-top: 0.8rem;
}

.login-msg {
    color: #06a55b;
    font-size: 0.7rem;
    font-weight: bolder;
    display: block;
    margin-top: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #03421f;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    margin: 1.5rem auto;

}

input {
    width: 70%;
    background-color: #e0dede;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: none;
    margin-bottom: 1rem;
    outline: none;
}

p {
    color: red;
    font-size: 0.7rem;
    align-items: start;
}

button {
    width: 65%;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: #03421f;
    /* background-color: #004743; */
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.2s ease-in;
    cursor: pointer;

}

button:hover {
    background-color: #052414;
}

.login {
    height: 23rem;
    background-color: #eee;
    transform: translateY(-4rem);
    transition: 0.8s ease-in-out;
    border-radius: 60% / 10%;
}

.login label {
    color: #000;
    transform: scale(0.8);
}

#chkToggle:checked~.login {
    transform: translateY(-21.5rem);
}

#chkToggle:checked~.login label {
    transform: scale(1);

}

#chkToggle:checked~.signup label {
    transform: scale(0.8);

}



/*---------------media query -----------------------*/

@media screen and (min-width: 425px) {
    .main {
        width: 18rem;
        height: 27rem;
        border-radius: 0.7rem;
        box-shadow: 0.5rem 2rem 5rem #000;
    }

    label {
        font-size: 1.3rem;

    }

    .login {
        height: 24rem;

    }

    #chkToggle:checked~.login {
        transform: translateY(-23.5rem);
    }
}

@media screen and (min-width: 768px) {
    .main {
        width: 20rem;
        height: 29rem;
        border-radius: 0.8rem;
        box-shadow: 0.5rem 2rem 5rem #000;
    }

    label {
        font-size: 1.5rem;

    }

    .login {
        height: 26rem;

    }

    #chkToggle:checked~.login {
        transform: translateY(-25rem);
    }

    input {
        padding: 0.8rem;

    }

    button {
        height: 2.5rem;

    }

    .signup-msg {
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .login-msg {
        font-size: 0.8rem;
        margin-top: 1rem;
    }

}

@media screen and (min-width: 900px) {
    .main {
        width: 25rem;
        height: 34rem;
        border-radius: 0.8rem;
        box-shadow: 0.5rem 2rem 5rem #000;
    }

    label {
        font-size: 1.5rem;

    }

    .login {
        height: 32rem;

    }

    #chkToggle:checked~.login {
        transform: translateY(-30.5rem);
    }

    input {
        padding: 0.9rem;

    }

    button {
        height: 2.8rem;

    }

    .signup-msg {
        font-size: 1rem;
        margin-top: 1.3rem;
    }

    .login-msg {
        font-size: 1rem;
        margin-top: 1.3rem;
    }
}