.options {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.options>div {
    display: flex;
    max-width: 25rem;
    width: 100%;
    margin: auto;
    align-items: center;
    margin-top: 2rem;
}

.options>div>img {

    width: 7rem;
    height: 7rem;
    margin-right: 1rem;

}

.options>div>div>strong {
    font-size: 1.6rem;
}

.options>div>div>p {
    font-size: 1rem;
    color: gray;
}